<nav class="flex justify-between container p-6 md:p-8">
  <a
    class="flex justify-center items-center text-center w-12 h-12 logo-gif"
    href="/"
  >
    <img id="logo" src="/img/logo.svg" alt="logo" />
    <img
      class="relative bottom-1 left-1"
      id="logoBg"
      src="/img/fire.gif"
      alt="fire background"
    />
  </a>

  <ul class="flex justify-center items-center">
    <li class="mx-2 md:mx-4 hover:scale-105 transition-transform">
      <a
        href="/projects"
        class="w-2 font-display text-base font-normal text-blue-500 border-blue-400 border rounded-md px-2 py-1 hover:drop-shadow-[0_0_9px_rgba(34,197,94,0.9)]"
        >Projects 🖥️</a
      >
    </li>
    <li class="mx-2 md:mx-4 hover:scale-105 transition-transform">
      <a
        href="/skills"
        class="w-2 font-display text-base font-normal text-red-500 border-red-400 border rounded-md px-2 py-1 hover:drop-shadow-[0_0_9px_rgba(34,197,94,0.9)]"
        >Skills 🥋</a
      >
    </li>
    <li class="mx-2 md:mx-4 hover:scale-105 transition-transform">
      <a
        href="/achievements"
        class="w-2 font-display text-base font-normal text-yellow-500 border-yellow-400 border rounded-md px-2 py-1 hover:drop-shadow-[0_0_9px_rgba(34,197,94,0.9)]"
        >Achievements 🎓</a
      >
    </li>
    <li class="mx-2 md:mx-4 hover:scale-105 transition-transform">
      <a
        href="/socials"
        class="w-2 font-display text-base font-normal text-green-500 border-green-400 border rounded-md px-2 py-1 hover:drop-shadow-[0_0_9px_rgba(34,197,94,0.9)]"
        >Socials 🙋🏾‍♂️</a
      >
    </li>
  </ul>
</nav>
