{{ define "header" }} {{ partial "topnav" }} {{ end }} {{ define "main" }}
<div class="prose dark:prose-invert min-w-full">
  <div class="container">
    <div class="flex flex-col md:flex-row mt-20">
      <div
        class="min-w-[50%] flex flex-col justify-center items-center text-center p-6"
      >
        <h1 class="text-6xl mb-0">
          Welcome to my professional
          <span class="gradient-text">portfolio!</span>
        </h1>
        <p class="text-2xl text-gray3">
          I am a versatile software developer with extensive experience in
          <img-reveal src="/img/speed.gif"
            ><span class="text-yellow-500 font-bold"
              >data automation, AI, and cyber security</span
            ></img-reveal
          >
          . Over the years, I have honed my skills in developing robust,
          efficient, and secure software applications that meet the diverse
          needs of clients across various industries. My
          <img-reveal src="/img/speed.gif"
            ><span class="text-pink-500 font-bold"
              >passion for technology and innovation</span
            ></img-reveal
          >
          has driven me to constantly stay updated with emerging trends in the
          software development industry.
        </p>
        <a href="#truth" class="btn btn-green btn-glow">Explore</a>
      </div>
    </div>

    <div class="text-center mt-32 snap-proximity">
      <scroll-show repeat="">
        <a href="#truth" class="no-underline">
          <h2
            class="bg-red-500 inline-block text-gray7 px-6 py-4 text-6xl shadow-xl"
          >
            software developer
          </h2>
          <span class="animate-bounce text-5xl block"> 🏗 </span>
        </a>
      </scroll-show>
    </div>

    <div
      class="md:h-screen grid place-content-center text-center relative"
      id="truth"
    >
      <div>
        <scroll-show repeat="">
          <p class="text-3xl text-gray3 px-4">
            Worked on various projects ranging from small-scale applications to
            large enterprise systems. I am proficient in multiple programming
            languages, including
            <img-reveal src="/img/sad.gif"
              ><span class="text-red-500 animate-pulse font-display"
                >Python, Node-js, and Go</span
              ></img-reveal
            >, and have extensive experience with popular frameworks and
            libraries such as
            <img-reveal src="/img/sad.gif"
              ><span class="text-blue-500 animate-pulse font-display"
                >Vue, Svelte, and Angular.</span
              ></img-reveal
            >
          </p>
        </scroll-show>
        <scroll-show>
          <a
            class="animate-bounce mb-[200px] text-2xl no-underline block"
            href="#solution"
          >
            Deployed an Online Shop store 🧥
          </a>
        </scroll-show>
      </div>
    </div>

    <div
      class="text-center md:h-screen grid place-content-center relative"
      id="solution"
    >
      <div>
        <scroll-show>
          <h2
            class="bg-pink-500 inline-block text-gray7 px-6 py-4 text-6xl shadow-xl"
          >
            data automation ♻
          </h2>
        </scroll-show>
        <scroll-show>
          <p class="text-3xl text-gray4 max-w-3xl">
            My expertise in data automation has enabled me to develop finance
            systems for
            <img-reveal src="/img/build.gif"
              ><span class="text-green-500 font-display animate-pulse"
                >data processing, analysis, and visualization</span
              ></img-reveal
            >This challenged me futher to also developed and implemented
            advanced algorithms for
            <img-reveal src="/img/build.gif"
              ><span class="text-yellow-500 font-display animate-pulse"
                >machine learning and artificial intelligence</span
              ></img-reveal
            >, helping businesses automate their processes and improve overall
            efficiency.
          </p>
          <a
            class="animate-bounce mb-[200px] text-2xl no-underline block"
            href="#fun"
          >
            Engineered a stock market trade bot 🤖
          </a>
        </scroll-show>
      </div>
    </div>

    <div
      class="text-center md:h-screen grid place-content-center relative"
      id="fun"
    >
      <div>
        <scroll-show>
          <h2
            class="bg-purple-500 inline-block text-gray7 px-6 py-4 text-6xl shadow-xl"
          >
            cyber security 🔐
          </h2>
        </scroll-show>
        <scroll-show>
          <p class="text-3xl text-gray4 max-w-3xl">
            With a keen interest in cyber security, I am well-versed in
            designing secure systems that protect against cyber threats,
            ensuring the
            <img-reveal src="/img/dance.gif"
              ><span class="text-blue-500 font-display animate-pulse"
                >integrity, confidentiality, and availability</span
              ></img-reveal
            >
            of data. I have experience in implementing security protocols and
            standards such as OWASP and NIST, as well as conducting
            <img-reveal src="/img/dance.gif"
              ><span class="text-pink-500 font-display animate-pulse"
                >vulnerability assessments and penetration testing.</span
              ></img-reveal
            >
            .
          </p>
          <a
            class="animate-bounce mb-[200px] text-2xl no-underline block"
            href="#end"
          >
            A code a day, keeps bugs at bay 🛡
          </a>
        </scroll-show>
      </div>
    </div>

    <div
      class="text-center md:h-screen grid place-content-center relative"
      id="end"
    >
      <div>
        <scroll-show>
          <h2
            class="bg-yellow-500 inline-block text-gray7 px-6 py-4 text-6xl shadow-xl"
          >
            Before we begin 🚀
          </h2>
        </scroll-show>
        <scroll-show>
          <p class="text-3xl text-gray4 max-w-3xl">
            I am committed to delivering quality work, meeting project
            deadlines, and ensuring
            <img-reveal src="/img/look.gif"
              ><span class="text-yellow-500 font-display animate-pulse"
                >client satisfaction</span
              ></img-reveal
            >. I am excited about new challenges and opportunities to apply my
            skills and expertise to create
            <img-reveal src="/img/look.gif"
              ><span class="text-yellow-500 font-display animate-pulse"
                >innovative solutions</span
              ></img-reveal
            >
            that solve complex problems.
          </p>
          <a
            class="animate-bounce mb-[200px] text-2xl no-underline block"
            href="courses"
          >
            I salute you for your time 🫡. Start Portfolio here 👇
          </a>
          <a href="/projects" class="btn btn-pink btn-glow">Explore Portfolio</a>
        </scroll-show>
      </div>
    </div>
  </div>
</div>

{{ end }} {{ define "footer" }} {{ partial "footer" }} {{ end }}
